/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul li a:hover{
  color:aqua;
}
/* Hero Section Styles */
.hero {

  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background: #86c204;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  color:#171613e2;
}

.hero p {
  font-size: 18px;
  color:#f30f13cb;
}

.btn {
  display: inline-block;
  background-color: #ff7f50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff6347;
}

/* Cards Section Styles */
.cards {
  padding: 80px 0;
}

.explore{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width:400px;
  height:400px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.card img {
  width: 300px;
  height:300px;
  border-radius: 10px;
}

.card h3 {
  margin-top: 20px;
}

/* Contact Form Styles */
.contact {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.contact h2 {
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact button {
  display: block;
  margin: 0 auto;
  background-color: #ff7f50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #ff6347;
}
